* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

html {
  background: linear-gradient(#110822, #084b4b);
}
html body {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  justify-items: center;
}
html body header,
html body footer,
html body figure,
html body figcaption {
  background-color: #333;
  color: rgb(224, 221, 221);
}
html body .hidden {
  display: none;
}
html body header,
html body footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  color: #ffffff;
}
html body header nav,
html body footer nav {
  display: inherit;
  width: 100%;
  align-items: center;
}
html body header nav a,
html body footer nav a {
  color: #fff;
  text-decoration: none;
}
html body header nav #logo,
html body footer nav #logo {
  padding-left: 1%;
}
html body header nav ul,
html body footer nav ul {
  display: inherit;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
html body header nav ul li a h3,
html body footer nav ul li a h3 {
  font-weight: normal;
}
html body header {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 93.77px;
}
html body header nav {
  width: 500px;
  justify-content: space-evenly;
}
html body main {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1549px;
  grid-gap: 30px;
}
html body main aside {
  display: grid;
  grid-column: 1;
  grid-gap: 20px;
  width: -moz-max-content;
  width: max-content;
}
html body main aside section {
  background-color: #88c9c9;
  color: #444;
  padding: 5px 0 5px 10px;
  grid-column: 1;
  grid-gap: 2px;
  width: 500px;
  color: #000;
}
html body main aside section h1 {
  font-size: 2em;
}
html body main aside section h2 {
  font-size: 1.75em;
}
html body main aside section p {
  font-size: 18px;
  padding-left: 5px;
}
html body main aside .card {
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  height: 250px;
  box-shadow: 2px 2px 2px rgb(13, 2, 32);
  border-radius: 8px;
  position: relative;
  text-decoration: none;
  color: black;
}
html body main aside .card figure {
  border-radius: 8px;
}
html body main aside .card figure img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  border-radius: 0 0 8px 8px;
}
html body main aside .card figure .cardContain {
  padding: 14px 10px 10px 20px;
  border-radius: 8px 8px 0 0;
}
html body main section {
  display: grid;
  grid-column: 2;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: start;
}
html body main section article {
  max-width: 100%;
}
html body main section article .buttonDisplay {
  background-color: #88c9c9;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  font-size: 1.2em;
}
html body main section article .buttonDisplay .arrowCol {
  float: right;
}
html body main section article .content {
  width: 100%;
  overflow: hidden;
  background-color: rgb(188, 230, 217);
  border-top: 1px solid #333;
}
html body main section article .content p {
  padding: 20px 30px;
}
html body main section article .content1 {
  width: 100%;
  border-top: 1px solid #333;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 10px;
}
html body main section article .content1 .container {
  width: 504px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  background-color: rgb(188, 230, 217);
  padding: 20px;
}
html body main section article .content1 .container h1 {
  font-size: 1.5em;
  color: #210c49;
}
html body main section article .content1 .container .collapsible_project {
  padding-left: 15px;
  color: #221169;
  width: 100%;
  background-color: rgb(188, 230, 217);
  border: none;
}
html body main section article .content1 .container .collapsible_project .arrow {
  height: 45.5px;
  padding: 10px 25px 7px 15px;
  float: right;
  font-size: 16px;
}
html body main section article .content1 .container .collapsible_project h3 {
  text-align: left;
  font-size: 19px;
  padding: 10px 25px 7px 15px;
}
html body main section article .content1 .container .collapsible_project ul {
  padding: 5px 0px 5px 42px;
  color: #1b1b1b;
}
html body main section article .content1 .container .collapsible_project ul li {
  text-align: left;
  font-size: 16px;
}
html body footer {
  position: sticky;
  bottom: 0;
  height: 52.8px;
}
html body footer nav #footer {
  width: 100%;
  display: inherit;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}/*# sourceMappingURL=style1.css.map */